{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form method = "post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="City">
        <input type="text" name="country_code" placeholder="Country Code">
        <button type="submit">Search</button>
    </form>

    <div class="comparison-container">
        {% if weather_data %}
            <div class="city-container">
                {% include 'weather_app/city_weather.html' with weather_data=weather_data daily_forecasts=daily_forecasts %}

            </div>
        {% endif %}

    </div>
</body>
</html>